
/* Background Animation */
.background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, purple, black 70%);
    overflow: hidden;
    z-index: -1;
    animation: animate 10s infinite linear;
  }